@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Rubik:wght@700&display=swap');
@import url('https://css.gg/details-more.css');
* {
	padding: 0px;
	margin: 0px;
	/* es para sacar los valores predeterminados del navegador */
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111111 !important;
  /*background-image: url("/assets/Fondo.png");*/
  background-position-x: center;
  background-size: contain;
  color:#FFFFFF !important;
}

:root {
	--red: #ff3838;
	--white: #ffffff;
	--black: #000000;
  --colorFondo: #111111;
  --colorPrimario: #ffc700;
  --colorSecundario: #FFFFFF;
  --colorTerciario: #a50000;
  /* VARIABLES GLOBALES DEL DOCUMENTO */
}

@font-face {
  font-family: "Friday Beach";
  src: url("/assets/Friday.ttf");

  /*Agrega una fuente personalizada de un directorio local*/
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #FFFFFF !important;
}

 h1{
  padding: 10px;
  color:  #ffc700;
  font-size: 45px;
  text-align: center;
  font-family: "Friday Beach", serif;
  margin-top: 10px;
}

#backtotop {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backtotop:hover {
  cursor: pointer;
  background-color: #333;
}
#backtotop:active {
  background-color: #555;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
}
/*-------------------------------*/
/* ESTILOS DEL MENU DE NAVEGACION*/
/*-------------------------------*/

.navegacion {
	background-color: transparent;
	padding: 30px 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 1366px;
	z-index: 99;
  font-family: 'Rubik', sans-serif;
}

.navegacion a {
	float: left;
	color: var(--white);
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
}

.navegacion__navegacion-list a:hover {
	color: var(--red);
}

.navegacion__navegacion-list a.active {
	color: var(--red);
}

.navegacion__navegacion-list a {
	transition: color 0.5s ease;
}

.navegacion .navegacion__icon {
	display: none;
}
.navegacion ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion li{
  list-style: none;
}

/*---------------------------------------*/
/* FIN DE ESTILOS DEL MENU DE NAVEGACION */
/*---------------------------------------*/

/*contenido*/
.menu-title{
  margin-top: 12%;
}

.menu-selector{
  display: flex;
  justify-content: center;
}

.menu-selector__grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 40%;
}

@media(min-width: 540px){
  .menu-selector__grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .menu-selector__grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}
.menu-selector__container{
  height: 80%;
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 0%;
  padding-left: 10%;
  margin: 0% 5% 5% 5%;
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
  font-weight: 700;
  font-family: 'Berlin Sans FB Demi', sans-serif !important;
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px !important;
  background: var(--colorPrimario);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 18px !important;
  width: 131px;
  height: 42px;
  justify-content: center;
}
button:hover {
  background: #b5941c;
  color: var(--white);
}
button:active {
  transform: scale(0.95);
}

.button--active{
  background: #b5941c;
  color: var(--white);
}
/*
.menu-section {
  display: flex;
  align-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  flex-direction: row;
}
*/

/*ESTILOS DE LOS EXTRAS*/
.menu-section{
  margin-bottom: 10%;
  margin-top: 4%;
}
h3{
  text-align: center;
  margin-bottom:2%;
  color: #ffc700;
  font-family: "Friday Beach", serif;
}
hr{
  color:#ffc700;
  align-content: center;
  margin-bottom: 2%;
}
h4{
  text-align: center;
  margin-bottom: 5;
  color:#ffc700;
  display: grid;
  margin: 0.5% 0% 0% 0%;
  font-family: 'Berlin Sans FB Demi', sans-serif !important;
}

.titulo4{
  margin-bottom: 2%;
}
h5{
  text-align: center;
  margin: 1%;
  font-family: 'Berlin Sans FB Demi', sans-serif !important;
}

table{
  margin: auto;
  width: 70%;
  font-family: 'Berlin Sans FB Demi', sans-serif !important;
}

td{
  border-spacing: 10%;
}

.menu-section__menu-grid{
  width: 25%;
}

.conteiner-card{
  width: 100%;
  display: flex;
  max-width: 100%;
  
}

.cards-extras{
  width: 27%;
  margin: 3%;
  overflow: hidden;
  background-color: var(--colorPrimario);
  cursor: default;
  transition: all 400ms ease;
}


.cards-extras:hover{
  box-shadow: 5px 5 px 20px rgba();
  transform: translateY(-4%);
}

.cards-extras img{
  width: 100%;
}


.cards-extras__titulo{
  color:black;
  font-weight: 70%;
  font-size: 13px;
}


/*--------------------*/
/* ESTILOS DEl FOOTER */
/*--------------------*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url("/assets/titospie.svg");
    background-size: cover;
    margin-top: 120px;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.footer-container__box{
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.footer-container__company{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--black);
    font-size: 18px;
}

.footer-container__box h2{
    margin-bottom: 30px;
    color: var(--colorFondo);
    font-weight: 700;
}

.footer-container__box a{
    margin-top: 10px;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    color: var(--black);
    font-weight: 600;
}

.footer-container__box a:hover{
    opacity: 0.8;
}

.footer-container__box a .fab{
    font-size: 20px;
}

.footer-copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.footer-copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.footer-copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*---------------------------*/
/* FIN DE ESTILOS DEl FOOTER */
/*---------------------------*/

@media screen and (max-width: 600px) {

/*NAVEGACION MOVIL*/


  .navegacion {
		padding: 10px;
	}
	.navegacion .navegacion__menu {
		display: none;
	}
	.navegacion .navegacion__icon {
		display: block;
		position: absolute;
		top: 13px;
		right: 13px;
	}
	.navegacion.show {
		background: var(--black);
	}
	.navegacion.show .navegacion__menu {
		display: block;
		width: 100%;
	}
	.navegacion.show .navegacion__menu a {
		width: 100%;
	}
  
  .container{
    box-sizing: border-box;
    float: left;
    width: 21%;
    padding: 0;
    margin: 0% 2% 2% 2%;
  }

  .contenido{
  font-size: 10px;
}

.conteiner-card{
  width: 70%;
  display: block;
  
}
.cards-extras{
  width: 100%;
  margin: 25%;
  align-content: center;
  
}
}

